<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-product-heading" jhiTranslate="ststoreApp.product.home.createOrEditLabel">Create or edit a Product</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!product.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="product.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ststoreApp.product.productName" for="field_productName">Product Name</label>
                    <input type="text" class="form-control" name="productName" id="field_productName"
                        [(ngModel)]="product.productName" required/>
                    <div [hidden]="!(editForm.controls.productName?.dirty && editForm.controls.productName?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.productName?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ststoreApp.product.capitalPrice" for="field_capitalPrice">Capital Price</label>
                    <input type="number" class="form-control" name="capitalPrice" id="field_capitalPrice"
                        [(ngModel)]="product.capitalPrice" required/>
                    <div [hidden]="!(editForm.controls.capitalPrice?.dirty && editForm.controls.capitalPrice?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.capitalPrice?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.capitalPrice?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ststoreApp.product.salePrice" for="field_salePrice">Sale Price</label>
                    <input type="number" class="form-control" name="salePrice" id="field_salePrice"
                        [(ngModel)]="product.salePrice" required/>
                    <div [hidden]="!(editForm.controls.salePrice?.dirty && editForm.controls.salePrice?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.salePrice?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.salePrice?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ststoreApp.product.productDescription" for="field_productDescription">Product Description</label>
                    <input type="text" class="form-control" name="productDescription" id="field_productDescription"
                        [(ngModel)]="product.productDescription" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ststoreApp.product.category" for="field_category">Category</label>
                    <select class="form-control" id="field_category" name="category" [(ngModel)]="product.categoryId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="categoryOption.id" *ngFor="let categoryOption of categories; trackBy: trackCategoryById">{{categoryOption.categoryName}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ststoreApp.product.unit" for="field_unit">Unit</label>
                    <select class="form-control" id="field_unit" name="unit" [(ngModel)]="product.unitId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="unitOption.id" *ngFor="let unitOption of units; trackBy: trackUnitById">{{unitOption.unitName}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
